/* BACKGROUND - NORMAL STATE */

body {
  background: #004d00;
  height: 100%;
  display: block;
}

#ground{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40vh;
  background: #6666ff;
  transition: all 300ms ease-in;
}

button{
  position: fixed;
  top: 3em;
  right: 3em;
  width: 3em;
  height: 3em;
  background: white;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 0 0 2.25em 0.5em #aaa;
}

video{
  height: 100;
  width: 1600px;
  position: fixed;
  top: 0;
}

#organism1{
  top: 95%;
  right: -1em;
  transform: rotate(-60deg);
  animation: voaa 1s infinite alternate ease-in-out;
  transform-style: preserve-3d;
  transform: rotate(-23deg);
}

#organism2{
  top: 90%;
  right: 30;
  animation: voaa 1s infinite alternate ease-in-out;
  transform-style: preserve-3d;
  transform: rotateX(-60deg);
}

#organism3{
  top: 40%;
  right: 30;
  transform: rotate(-33deg);
  animation: voaa 1s infinite alternate ease-in-out;
  transform-style: preserve-3d;
  transform: rotate(-33deg);
}

#stem{
	width: 20px;
	height: 70%;
	background: black;
  transform: rotate(180deg);
  position: absolute;
  bottom: 15%;
  right: 60%;
  transition: all 300ms ease-in;
}

.petal {
  position: fixed;
  width: 200px;
  height: 100px;
  background: black;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  transition: all 300ms ease-in;
}

@keyframes voaa {
  0% {transform: translateY(0px)}
  50% {transform: translateY(2px)}
}

#one{
  top:70%;
  right:40%;
}

#two{
  top:65%;
  right:90%;
}

#three{
  top:90%;
  right:70%;
}

#four{
  top:80%;
  right:20%;
}

.dust{
	width: 25px;
	height: 25px;
	background: lawngreen;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  filter: blur(5px);
  position: fixed;
}

#leaf1{
  border-radius: 5px 300px 3px 300px;
  background: #5900b3;
  width: 150px;
  height: 150px;
  position: fixed;
  display: inline-block;
  top: 80%;
  left: 8%;
  transform: rotate(45deg);
}

#leaf2{
  border-radius: 5px 300px 3px 300px;
  background: #5900b3;
  width: 150px;
  height: 150px;
  position: fixed;
  display: inline-block;
  top: 80%;
  left: 15%;
  transform: rotate(90deg);
}

#leaf3{
  border-radius: 5px 300px 3px 300px;
  background: #5900b3;
  width: 150px;
  height: 150px;
  position: fixed;
  display: inline-block;
  top: 80%;
  right: 88%;
}

#leaf4{
  border-radius: 5px 300px 3px 300px;
  background: #0000ff;
  width: 150px;
  height: 150px;
  position: fixed;
  display: inline-block;
  top: 40%;
  right: 25%;
  transform: rotate(45deg);
}

#leaf5{
  border-radius: 5px 300px 3px 300px;
  background: #0000ff;
  width: 150px;
  height: 150px;
  position: fixed;
  display: inline-block;
  top: 45%;
  right: 20%;
  transform: rotate(90deg);
}

#leaf6{
  border-radius: 5px 300px 3px 300px;
  background: #0000ff;
  width: 150px;
  height: 150px;
  position: fixed;
  display: inline-block;
  top: 45%;
  right: 30%;
}

#tree1{
  position: absolute;
}

#tree2{
  position: absolute;
}
/* NEW CLASSES AFTER BUTTON CLICK */

#stem.light, .petal.light{
  background: lawngreen;
  padding: 4em;
  border-radius: 250px / 210px;
  transition: all 300ms ease-in;
}

#ground.groundlight {
  background: #ffe866;
  transition: all 300ms ease-in;
}

#stem.gradient, .petal.gradient, #ground.gradient {
  background: linear-gradient(red, yellow);
  transition: all 500ms ease-in;
}

/* FLAME BUTTON */

.container{
  margin:80px auto;
  width: 60px;
  height: 60px;
  bottom: -32em;
  left: 10%;
  position:relative;
  transform-origin:center bottom;
  animation-name: flicker;
  animation-duration:3ms;
  animation-delay:200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}

.flame{
  bottom:0;
  position:absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform:rotate(-45deg) scale(1.5,1.5);
}

.yellow{
  left:15px;
  width: 30px;
  height: 30px;
  background:gold;
  box-shadow: 0px 0px 9px 4px gold;
}

.orange{
  left:10px;
  width: 40px;
  height: 40px;
  background:orange;
  box-shadow: 0px 0px 9px 4px orange;
}

.red{
  left:5px;
  width: 50px;
  height: 50px;
  background:OrangeRed;
  box-shadow: 0px 0px 5px 4px OrangeRed;
}

.white{
  left:15px;
  bottom:-4px;
  width: 30px;
  height: 30px;
  background:white;
  box-shadow: 0px 0px 9px 4px white;
}

.circle{
  border-radius: 50%;
  position:absolute;
}

.blue{
  width: 10px;
  height: 10px;
  left:25px;
  bottom:-25px;
  background: SlateBlue;
  box-shadow: 0px 0px 15px 10px SlateBlue;
}

@keyframes flicker{
  0%   {transform: rotate(-1deg);}
  20%  {transform: rotate(1deg);}
  40%  {transform: rotate(-1deg);}
  60%  {transform: rotate(1deg) scaleY(1.04);}
  80%  {transform: rotate(-2deg) scaleY(0.92);}
  100% {transform: rotate(1deg);}
}
