body {
  background: #ffb3b3;
  font-family: times;
  margin: 0;
  padding: 1em;
}

.webring {
  position: fixed;
  top: 1em;
  right: 1em;
  background: white;
}

hr {
  width: 500px;
  margin: 2em 0;
}

::selection {
  background: lawngreen;
}

#container p {
  background: yellow;
}

a:hover{
  background: lawngreen;
  color: forestgreen;
}

a {
  color: magenta;
  text-decoration: none;
  text-shadow: 1px 1px red;
  /* By default, links are blue and have an underline.
     The above CSS changes both those things. */
}

a:visited{
  color:blue;
}

#button{
  background: lightyellow;
  width: 5em;
  height: 3em;
  border-radius: 50%;
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
}

h1 {
  color: #595959;
}

h2 {
  color:  #8c8c8c;
}

.container{
  position: relative;
  top: 5px;
  left: 40%;
  display: inline-block;
}
