body {
background: mistyrose;
}

.webring {
  position: fixed;
  top: 1em;
  right: 1em;
  background: white;
}

hr {
  width: 500px;
  margin: 2em 0;
}

::selection {
  background: lawngreen;
}

#container p {
  background: yellow;
}

a:hover{
  background: lawngreen;
  color: forestgreen;
}

a {
  color: magenta;
  text-decoration: none;
  text-shadow: 1px 1px red;
  /* By default, links are blue and have an underline.
     The above CSS changes both those things. */
}

a:visited{
  color:orange;
}
