
/*FREE STYLE!*/
span {
  background: #ffc966;
  color: navy;
  /* or pick a different color */
}

body {
  background: lightsalmon
  ;
  /* The above is called a hex code.
     There are two other ways to do colors in CSS: rgb and common names
     Find "Digital Color Meter" on your computer to explore more */
  color: navy;
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
}

#container {
  max-width: 750px;
  /* I put "max-width" rather than "width" because
     if the screen width is less than 650px, it will shrink accordingly. */
  margin: 0 auto;
}

a:hover{
  background: lawngreen;
  color: lawngreen;
}

a:visited{
  color:forestgreen;
}

a {
  color: lightskyblue;
  text-decoration: none;
  text-shadow: 2px 2px limegreen;
  /* By default, links are blue and have an underline.
     The above CSS changes both those things. */
}

h2{
  color:magenta;
  text-shadow: 2px 2px maroon;
}


#table-of-contents {
  position: fixed;
  top: 3em;
  left: 3em;
  /* a background color might help it be differentiated from the rest */
  background: #ccff99;
  /* that means you'll have to change the color of the text */
  color: #587E20;
  /* some padding might make it look better */
  padding: 1em;
  /* maybe making the font size here smaller will help too */
  font-size: 0.7em;
}

#table-of-contents a {
  color: #587E20;
  text-decoration: none;
}

#table-of-contents a:hover {
  color: black;
}

#table-of-contents ul {
  padding: 0;
  list-style-type: none;
  /* you could also change the type of bullet with the above declaration! */
}


figcaption {
  font-size: 0.7em;
}
