body{
  background: #2e2eb8;/* blue*/
}

.canvas {
  width: 100px;
  height: 800px;
  margin: 100px auto;
  position: relative;
  /* z-index:-2; */
  /* "z-index" this is to control layering...the more negative the more back it goes*/
}
.canvas.one{
	background: #2e2eb8;
}
.object{
  position: absolute;
}

#floor {
	border-bottom: 400px solid #9999ff;
	border-left: 300px solid transparent;
	border-right: 1px solid transparent;
	height: 0;
	width: 100px;
  top: 30em;
  left: 21.3em;
}

#wall {
	width: 100px;
	height: 300px;
	background:#dcdcdc;
  top: 11.25em;
  left: 40em;
}

#wall1 {
	width: 100px;
	height: 290px;
	background:#ffffcc;
  top: 12em;
  left: 40em;
  filter: blur(30px);
}

#bosch{
  top: 12em;
  left: 20em;
  z-index:2;
}

#wall3{
  width: 50px;
	height: 100px;
	background:grey;
  top: 13em;
  left: 20em;
  filter: blur(50px);
  z-index:3;
}
