body{
  background: #66ff66;/*felix blue*/
}

a:hover{
  color: blue;
}

a:active{
  color: pink;
}

.canvas {
  width: 10000px;
  height: 5000px;
  margin: 100px auto;
  position: relative;
  /* z-index:-2; */
  /* "z-index" this is to control layering...the more negative the more back it goes*/
}
.canvas.one{
	background: #66ff66;
}
.object{
  position: absolute;
}
