/*for reference, use on links a=links */
a:hover{
  color
}
a:active{
  color: red;
}

a:visited{
  color:
}

h1 {
  border: 5px solid blue;
  border-style:
  border-width
  border-color

  padding: 10px;
}
body {
  height:500px;
  width:1000px;
}
