body {
  background: white;
  height: 100vh;
  margin: 0;
}

.letter-definition {
  display: none;
}

.letter {
  width: 20%;
  height: 10%;
  display: inline-block;
  position: center;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3em;
}

.box {
  width: 10px;
  height: 10px;
  float: left;
}

.filled {
  background: url("../images/line.jpg") no-repeat center;
}


.marqueedownslow {
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 0;
   line-height: 50px;
   text-align: center;
   /* Starting position */
   -moz-transform:translateY(-100%);
   -webkit-transform:translateY(-100%);
   transform:translateY(-100%);
   /* Apply animation to this element */
   -moz-animation: scroll-down 20s linear infinite;
   -webkit-animation: scroll-down 5s linear infinite;
   animation: scroll-down 15s linear infinite;
  }

  /* Move it (define the animation) */
  @-moz-keyframes scroll-down {
     0%   { -moz-transform: translateY(-100%); }
     100% { -moz-transform: translateY(100%); }
  }
  @-webkit-keyframes scroll-down {
     0%   { -webkit-transform: translateY(-100%); }
     100% { -webkit-transform: translateY(100%); }
  }
  @keyframes scroll-down {
   0%   {
     -moz-transform: translateY(-100%); /* Browser bug fix */
     -webkit-transform: translateY(-100%); /* Browser bug fix */
     transform: translateY(-100%);
   }
   100% {
     -moz-transform: translateY(100%); /* Browser bug fix */
     -webkit-transform: translateY(100%); /* Browser bug fix */
     transform: translateY(100%);
   }
}

.marqueedown {
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 0;
   line-height: 50px;
   text-align: center;
   /* Starting position */
   -moz-transform:translateY(-100%);
   -webkit-transform:translateY(-100%);
   transform:translateY(-100%);
   /* Apply animation to this element */
   -moz-animation: scroll-down 10s linear infinite;
   -webkit-animation: scroll-down 5s linear infinite;
   animation: scroll-down 2s linear infinite;
  }

  /* Move it (define the animation) */
  @-moz-keyframes scroll-down {
     0%   { -moz-transform: translateY(-100%); }
     100% { -moz-transform: translateY(100%); }
  }
  @-webkit-keyframes scroll-down {
     0%   { -webkit-transform: translateY(-100%); }
     100% { -webkit-transform: translateY(100%); }
  }
  @keyframes scroll-down {
   0%   {
     -moz-transform: translateY(-100%); /* Browser bug fix */
     -webkit-transform: translateY(-100%); /* Browser bug fix */
     transform: translateY(-100%);
   }
   100% {
     -moz-transform: translateY(100%); /* Browser bug fix */
     -webkit-transform: translateY(100%); /* Browser bug fix */
     transform: translateY(100%);
   }
}

.marqueepour {
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 0;
   line-height: 50px;
   text-align: center;
   /* Starting position */
   -moz-transform:translateY(-100%);
   -webkit-transform:translateY(-100%);
   transform:translateY(-100%);
   /* Apply animation to this element */
   -moz-animation: scroll-down 10s linear infinite;
   -webkit-animation: scroll-down 5s linear infinite;
   animation: scroll-down 0.5s linear infinite;
  }

  /* Move it (define the animation) */
  @-moz-keyframes scroll-down {
     0%   { -moz-transform: translateY(-100%); }
     100% { -moz-transform: translateY(100%); }
  }
  @-webkit-keyframes scroll-down {
     0%   { -webkit-transform: translateY(-100%); }
     100% { -webkit-transform: translateY(100%); }
  }
  @keyframes scroll-down {
   0%   {
     -moz-transform: translateY(-100%); /* Browser bug fix */
     -webkit-transform: translateY(-100%); /* Browser bug fix */
     transform: translateY(-100%);
   }
   100% {
     -moz-transform: translateY(100%); /* Browser bug fix */
     -webkit-transform: translateY(100%); /* Browser bug fix */
     transform: translateY(100%);
   }
}

.marqueesnow {
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 0;
   line-height: 50px;
   text-align: center;
   /* Starting position */
   -moz-transform:translateY(-100%);
   -webkit-transform:translateY(-100%);
   transform:translateY(-100%);
   /* Apply animation to this element */
   -moz-animation: scroll-down 10s linear infinite;
   -webkit-animation: scroll-down 5s linear infinite;
   animation: scroll-down 40s linear infinite;
  }

  /* Move it (define the animation) */
  @-moz-keyframes scroll-down {
     0%   { -moz-transform: translateY(-100%); }
     100% { -moz-transform: translateY(100%); }
  }
  @-webkit-keyframes scroll-down {
     0%   { -webkit-transform: translateY(-100%); }
     100% { -webkit-transform: translateY(100%); }
  }
  @keyframes scroll-down {
   0%   {
     -moz-transform: translateY(-100%); /* Browser bug fix */
     -webkit-transform: translateY(-100%); /* Browser bug fix */
     transform: translateY(-100%);
   }
   100% {
     -moz-transform: translateY(100%); /* Browser bug fix */
     -webkit-transform: translateY(100%); /* Browser bug fix */
     transform: translateY(100%);
   }
}

.boxsnow {
  width: 30px;
  height: 30px;
  float: left;
}

.marqueeside {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-slow 25s linear infinite;
  -webkit-animation: scroll-slow 25s linear infinite;
  animation: scroll-slow 25s linear infinite;
  }
  /* Move it (define the animation) */
  @-moz-keyframes scroll-slow {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
  }
  @-webkit-keyframes scroll-slow {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
  }
  @keyframes scroll-slow {
  0%   {
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%);
  }

}
