html, body{
  background: white;
}

.letter {
  float: left;
  width: 48%;
  height: 100%;
  position: relative;
}

.letter-inside {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.w {
  margin-right: 2%;
}

.w .left {
  background: black;
  width: 4%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.w .middle {
  background: black;
  height: 4%;
  width: 100%;
}

.w .right {
  background: black;
  width: 4%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.o {
  margin-left: 2%;
}

.o .top {
  background: black;
  height: 4%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

.o .middle {
  background: black;
  width: 4%;
  height: 100%;
  margin: 0 auto;
}

.o .bottom {
  background: black;
  height: 4%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.container {
  margin-right: 8px;
}

.small {
  height: 75px;
  width: 75px;
  background: lime;
  padding: 0;
  float: left;
}

.medium {
  height: 150px;
  width: 150px;
  background: pink;
  padding: 0;
  float: left;
}

.large {
  height: 350px;
  width: 350px;
  background: yellow;
  padding: 0;
  float: left;
}

#info {
  position: fixed;
  background: yellow;
  padding: 0.25em;
  bottom: 1em;
  right: 1em;
}
